        @import url('https://rsms.me/inter/inter.css');
        :root {
            font-family: Inter, sans-serif;
            --primary: #1e3a8a;
            --secondary: #f59e0b;
            --bg: #f8fafc;
        }
        body {
            background-color: var(--bg);
            font-family: 'Inter', sans-serif;
        }
        .selected-row {
            background-color: #eff6ff !important;
            border-left: 4px solid var(--primary);
        }
        .action-sidebar {
            transition: transform 0.3s ease-in-out;
        }
        .action-sidebar.hidden-sidebar {
            transform: translateX(100%);
        }
